body {
    font-family: Arial, sans-serif;
    background-color: #A9A9A9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.info {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.file-list {
    font-size: 16px;
    margin-bottom: 10px;
}

.download-btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #333;
}
