/* Reset some default browser styling */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}

.container {
    background-color: #F5F5F5;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    font-weight: bold;
    font-color: #900C3F;
}

.subtitle {
    font-size: 18px;
    background-color: #444;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #555;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bio, .experience, .skills, .contact {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

.skills ul li span {
    float: right;
    color: gold;
}

.contact p {
    margin-bottom: 5px;
}
